#menu{
    list-style: none; /* Quita los marcadores de lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    display: flex; /* Hace que los elementos de la lista se muestren en línea */
    background-color: #B18E6A;
    background-size:cover;
}
#menu li{
    margin-right: 50px;
    font-family:fantasy;
    margin: 100;
    padding: 100;
    text-align: center;
}
#menu a:hover {
            color: rgb(218, 182, 115); /* Cambia el color al pasar el ratón (puedes personalizarlo) */
        }
#menu a:visited {
            color: inherit; /* Utiliza el color heredado (el definido en tu estilo global) */
        }

body {
    font-family: Arial, sans-serif;
    background-color: #cbcfcf;
    margin: 0;
    padding: 0;
    text-align: center;
}
#encabezado {
    background-image: url(Imagenes/Dpto1.jpeg);
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la sección */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    margin-bottom: 20px; /* Añade margen inferior para separar las secciones */
    text-align: center;
    color: white; /* Color de texto en contraste con el fondo */
    padding: 20px; /* Espaciado interno para el contenido */
}

h1 {
    font-size: 24px;
    color: #ffffff;
    font-family: poppins;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

/* Cambia el color de fondo y el color del texto de los encabezados */
h2 {
    color: #692d04;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    
}
/* Aplicar la fuente "Annie Use Your Telescope" a los encabezados h2 */
h2 {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size:x-large;
}
/* Cambia el color de las viñetas de la lista */
ul {
    list-style-type: square;
    margin-left: 20px;
}
#seccion1{
    margin-bottom: 20px; /* Añade margen inferior para separar las secciones */
    text-align: center;
    color: rgb(0, 0, 0); /* Color de texto en contraste con el fondo */
    padding: 20px; /* Espaciado interno para el contenido */
    /*background-color: #AABD8C;*/
}


#seccion3{
    background-color: #B18E6A;
    color: #fff;
}
#seccion2{
    background-color: #FFC0CB;
    list-style:none;
}

